@{
    ViewBag.Title = "Home Page";
}

<div class="mainpanel">
    <div class="pageheader">
        <div class="media">
            <div class="pageicon pull-left">
                <i class="fa fa-user"></i>
            </div>
            <div class="media-body">
                <ul class="breadcrumb">
                    <li><a href=""><i class="glyphicon glyphicon-home"></i></a></li>
                    <li><a href="@Url.Action("Index", "Home")">Dashboard</a></li>
                    <li>Users</li>
                </ul>
                <h4>Users</h4>


            </div>
        </div><!-- media -->
    </div><!-- pageheader -->

    <div class="contentpanel">

</div>

</div>